@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Nav bar design */
.nav-bar{
    font-family: "Quicksand";
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 140px;
}

.link>a{
    text-decoration: none;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:11px
}
.school{
    font-weight: bold;
    font-size: 32px;
    
}

.nav-bar>img{
    width: 62px;
    height: 62px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 20px;
    margin-left: 186px;
    margin-right: 186px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-1{
    font-family:"Quicksand";
    background-color: orange;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    width: 197px;
    height: 50px;
    padding: 10px 60.5px;
    font-size: 20px;
    font-weight: 600px;

}
.a1,.a2,.a3,.a4{
    font-weight: bold;
    font-size: 20px;
} 

.a1{
    color: orange;
}
.a2{
    color: skyblue;
}
.a3{
    color: #05D4DF
}
.a4{
    color: #5D58EF
}

/* Banner design */

.main-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
.secondary-div{
    padding-top: 122px ;
    padding-bottom: 122px;
}

.banner{
    margin-top: 20px;
    margin-right: 140.39px;
    margin-left: 140px;
}
.title{
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 56px;  
    width:640px;

}
.banner-para{
    font-family:"Quicksand";
    font-size:20px;
    font-weight: 400px;
    margin-top: 24px;
    width: 640px;
    height: 50px;
}
.btn-2{
    background-color: black;
    color: white;
    border:none;
    border-radius: 10px;
    width: 197px;
    height: 50px;
    padding:10px 47px;
    font-family: "Quicksand";
    font-size: 20px;
    margin-top: 24px;
    
}

@media screen and(max-width: 390px)
{
    .nav-bar{
        display: flex;
    }

    .link{
        display: none;
    }
    .btn-1{
        display: none;
    }
}