@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.ff{
    font-family: "Quicksand";
}
/* Nav bar design */
.nav-bar{
    font-family: "Quicksand";
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 140px;
}

.link>a{
    text-decoration: none;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:11px
}
.school{
    font-weight: bold;
    font-size: 32px;
    
}

.nav-bar>img{
    width: 62px;
    height: 62px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 20px;
    margin-left: 186px;
    margin-right: 186px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-1{
    font-family:"Quicksand";
    background-color: orange;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    width: 197px;
    height: 50px;
    padding: 10px 60.5px;
    font-size: 20px;
    font-weight: 600px;

}
.a1,.a2,.a3,.a4{
    font-weight: bold;
    font-size: 20px;
} 

.a1{
    color: orange;
}
.a2{
    color: skyblue;
}
.a3{
    color: #05D4DF
}
.a4{
    color: #5D58EF
}

/* Banner design */

.main-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
.secondary-div{
    padding-top: 122px ;
    padding-bottom: 122px;
}

.banner{
    margin-top: 20px;
    margin-right: 140.39px;
    margin-left: 140px;
}
.title{
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 56px;  
    width:640px;

}
.banner-para{
    font-family:"Quicksand";
    font-size:20px;
    font-weight: 400px;
    margin-top: 24px;
    width: 640px;
    height: 50px;
}
.btn-2{
    background-color: black;
    color: white;
    border:none;
    border-radius: 10px;
    width: 197px;
    height: 50px;
    padding:10px 47px;
    font-family: "Quicksand";
    font-size: 0.8rem;
    margin-top: 24px;
    
}
/* school details  part 2*/
 .title-2{
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 46px;
    padding-left: 486px;
    padding-right: 489px;
    padding-top: 30px;
    text-align: center;
}




.part-2{
    background-image: url(./assets/bg.png);
      
}

.parent-box{
       display: flex;
    justify-content: center;
    align-items: center;
    gap:28px;
    padding: 197.5px 140px 200px 140px;

}

.box1{
    background-color: white;
    box-shadow: inset 0px 0px 50px  #DEF5FF ;
    border-radius: 18.8px;
    border: #DEF5FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 367.8px;
}
.box2{
    background-color: white;
    box-shadow: inset 0px 0px 50px #FFF4DC;
    border-radius: 18.8px;
    border:  #FFF4DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 367.8px;
}
.box3{
    background-color: white;
    box-shadow:inset 0px 0px 50px #F2E8FF;
    border-radius: 18.8px;
    border:  #F2E8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 367.8px;
}

.img1{
   padding-left: 115.5px;
   padding-right: 115.5px;
   padding-top: 52.8px;
   width: 136.7px;
}

.img2{
    padding-left: 113.5px;
   padding-right: 113.5px;
   padding-top: 52.8px;
   width: 137.48px;
   
   
}
.title2-1{
    font-size: 24.8px;
    font-weight: bold;
    padding-left: 78.57px;
    padding-right: 78.18px;
    padding-top: 32.07px;
}

.title2-2{
    font-size: 24px;
    font-weight: bold;
    padding-left: 68.31px;
    padding-right: 67.9px;
    padding-top: 32.07px;
}
.box-para{
    font-weight: 400px;
    font-size: 15.09px;
    padding-left: 40.88px;
    padding-right: 40.67px;
}
.l1{
    text-decoration: none;
    list-style: none;
    color: #64C8FF;
    font-weight: bold;
    font-size: 15.09px;
    padding-left: 132px;
    padding-right: 155.69px;
    padding-bottom: 58.58px;
    padding-top: 38.67px;
}
.l2{
    text-decoration: none;
    list-style: none;
    color: #F0AA00;
    font-weight: bold;
    font-size: 15.09px;
    padding-left: 132px;
    padding-right: 155.69px;
    padding-bottom: 58.58px;
    padding-top: 38.67px;  
}
.l3{
    text-decoration: none;
    list-style: none;
    color: #8700FF;
    font-weight: bold;
    font-size: 15.09px;
    padding-left: 132px;
    padding-right: 155.69px;
    padding-bottom: 58.58px;
    padding-top: 38.67px;  
} 
.mainbox{
    background-image: url("./assets/bg.png");


}
 .heading{
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    padding: 40px 15px;
 }

/* Stories part design */
.stories{
    font-family: "Quicksand";
    width: 100%;
    background-image: url("./assets/bg.png");
    background: linear-gradient(#FEA301);
    padding: 197.5px 140px 200px 140px;

                          justify-content: center;
                          align-items: center;
                          position: relative;

}

.b1{
    background-color: #3CD8E8;
    font-family: "Quicksand";
    font-size: 15.32px;
    border-radius: 47.93px;
    margin-left: 38.35px;
    margin-right: 327px;
    width: 174px;
    height: 47.93px;
    border: none;
 }
 .b2{
    background-color: #95B226;
    font-family: "Quicksand";
    font-size: 15.32px;
    border-radius: 47.93px;
    margin-left: 38.35px;
    margin-right: 78px;
    width: 174px;
    height: 47.93px;
    border: none;
 }
 .b3{
    background-color:  #5D58F0;
    font-family: "Quicksand";
    font-size: 15.32px;
    border-radius: 47.93px;
    margin-left: 38.35px;
    margin-right: 78px;
    width: 174px;
    height: 47.93px;
    border: none;
 }
 .b4{
    background-color: #95B226;
    
    font-family: "Quicksand";
    font-size: 15.32px;
    border-radius: 47.93px;
    margin-left: 38.35px;
    margin-right: 78px;
    width: 174px;
    height: 47.93px;
    border: none;
 }
 .b5{
    background-color: #95B226;
    font-family: "Quicksand";
    font-size: 15.32px;
    border-radius: 47.93px;
    margin-left: 38.35px;
    margin-right: 78px;
    width: 174px;
    height: 47.93px;
    border: none;
 }
.stories-h2{
    font-family: "Quicksand";
    font-weight: bold;
    padding-left: 489px;
    padding-right: 489px;
    font-weight: bold;
    font-size: 46px;
 text-align: center;
    
}
.stories-h4{
    font-family: "Quicksand";
    font-weight: bold;
    padding-left: 38px;
    padding-right: 38px;
    font-weight: bold;
}
.div0{
    width: 1160px;
    padding-left: 140px;
    padding-right: 140px;
     display: grid;
    grid-template-areas: "div0 div0 div1 div2"
                          "div0 div0 div3 div4";
     /* display: flex;
     justify-content: center;
     align-items: center; */
    gap:16px;

   column-gap: 19px;
}
.divm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 19px;
    row-gap: 19.39px;
}
.div1{
    border-radius: 16px;
    border: none;
    background-color: white;
    width: 540px;
    height: 630px;
}

.story1-p{
    font-family: "Quicksand";
    font-weight: 400px;
    font-size: 15px;
    padding:24px 68px 34px 68px;
    padding-bottom: 34px;
    
}
.div2,.div3,.div4,.div5{
    border-radius: 16px;
    border: none;
    background-color: white;
    width: 290px;
}
.story-1{
    width: 540px;
    height: 377px;
    border-radius: 16px;
}

.story-2,.story-3,.story-4,.story-5{
    border-radius: 16px;
    width:291px;
    height: 177px;
}

.btn111{
    background-color: black;
    font-family: "Quicksand";
    font-weight: Bold;
    border: none;
    border-radius: 12px;
    color: White;
    font-size: 20px;
    width: 197px;
   height: 50px;
   margin-top: 80px;
   margin-bottom: 60px;
}
/* footer design */

.footer{
    background-color: #01ACFD;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px 143px;
    width: 1070px;
    height: 222px;
    padding-left: 139px;
    padding-right: 229px;
    padding-top: 127px;
    padding-bottom: 174px;
}

.h{
    font-family: "Quicksand";
    font-weight: bold;
    color: white;
    font-size: 42.14px;
}
.h2{
    font-family: "Quicksand";
    width: 156px;
    color: white;
    padding-bottom: 12px;
}

.f2{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    row-gap: 20px;
}
.f2>a{
    text-decoration: none;
    list-style: none;
    width: 57.5px;
    color: White;
}

.f22{
    display: flex;
    gap: 10px;
    width: 299px;
    height: 81px;
    justify-content: center;
    align-items: center;
}




.f3h3{
  font-family: "Quicksand";
  font-weight: Bold;
  color: white;
  width: 177px;
  height: 26px;
  font-size: 26px;
  
}
.f3{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    row-gap: 32px;

}

.i{
    width: 40px;

}

.imgbox{
    display: flex;
    gap: 10px;
}


.footer-logo{
    width: 82px;
    height: 81px;
}
.p{
    font-family: "Quicksand";
    font-size: 20px;
    width: 399px;
    color: white;

}



 @media screen and (max-width: 576px){
    .nav-bar{
        flex-direction: row;
        padding: 12px 16px;
    }
    .title{
        font-family: "Quicksand";
        font-size: 14px;
    }
    .secondary-div1{
        width: 357px;
    }
    .hero-img{
        width: 336px;
    }
    .school{
        display: none;
    }
    .link > a{
        display: none;
    }
    .btn-1{
        display: none;
    }

    .main-div{
        width:357px;
        flex-wrap: wrap-reverse;
        margin: 0px;
        justify-content: left;
    }
    .btn-2{
        margin-left: 137px;
        margin-right: 137px;
        margin-top: 24px;
    }
    .banner-para{
        font-family:"Quicksand";
        font-size:32px;
        font-weight: 400px;
        margin-top: 144px;
        width: 100%;
        height: 50%;
    }
    .part-2,.parent-box{

        flex-direction: column;
        
    }


    .f1{
        display: flex;
        flex-direction: column;
    }
} 



